# Node modules
node_modules/
client/node_modules/
server/node_modules/
client/.env
server/.env

# Logs
logs
*.log
npm-debug.log*

# Build files
dist/
build/

# Environment variables
.env
client/.env
server/.env

# IDE/editor settings
.vscode/
.DS_Store
*.swp
